MONGO_URL=

URL_REQUEST_TOKEN=
URL_VERIFY_TOKEN=

URL_PROGRAM_LIST=
URL_CURRI_PROGRAM_LIST=
URL_PLAN_LIST=
URL_STRUCTURE=
URL_SUBJECTS=
URL_PRECO_SUBJECTS=

URL_STUDENT_STATUS=
URL_STUDENT_ENROLL=
URL_STUDENT_GRADE=
URL_ENROLL_SEM=